<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApwFupM9_2gF7Au3iedsAR3CvKwhi7-h0</string>
	<key>GCM_SENDER_ID</key>
	<string>676346845320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cycleRanting</string>
	<key>PROJECT_ID</key>
	<string>rant-cycle</string>
	<key>STORAGE_BUCKET</key>
	<string>rant-cycle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676346845320:ios:dd1833c0e61acd6fede73d</string>
</dict>
</plist>